<%= form_with(model: deal) do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
        <% deal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%form.label :title %>
    <%= form.text_field :title, class:"form-control",placeholder:'Title' %>
  </div>

  <div class="field form-group">
    <%form.label :description %>
    <%= form.text_field :description, class:"form-control",placeholder:'Description' %>
  </div>

  <div class="field form-group">
    <%=form.label :status %>
    <% form.text_field :status %>
    <%= form.select :status, ['New', 'Active','Done'], class:"form-control"%>
  </div>

  <div class="field form-group">
<%= form.number_field :user_id, id: :friend_user_id, class: "from-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-info" %>
  </div>
<% end %>
