<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<h1>Deals List</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
  <%if deal.user == current_user %>
      <tr>
        <td><%= link_to deal.title, deal %></td>
        <td><%= deal.description %></td>
        <td><%= deal.status %></td>

        <td><%= link_to 'Delete', deal, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %></td>
      </tr>
  <%end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
<%else %>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
<%end %>