<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<h1>Deals List</h1>

  <%= render 'deals/search_form.html.erb' %>
<br/>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th><%= sort_link(@q, :status, "Status",default_order: :asc) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
  <%if deal.user == current_user %>
      <tr>
        <td><%= link_to deal.title, deal %></td>
        <td><%= deal.description %></td>
        <td><%= deal.status %></td>
        <td><%= link_to 'Delete', deal, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %></td>
      </tr>
  <%end %>
    <% end %>
  </tbody>
</table>

  <%= will_paginate @deals, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>


<br/>

<% link_to 'New Deal', new_deal_path %>
  <br/>
  <% link_to 'Back', deals_path %>
<%else %>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
<%end %>