<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-4"><%= @deal.title %></h1>
  <p class="lead">  <%= @deal.description %></p>
  <hr class="my-4">
  <p>  <%= @deal.status %></p>
  <p>  <%= @deal.user %></p>
  <br/><br/>

  <%= link_to 'Edit', edit_deal_path(@deal), class:"btn btn-light"%>
  <%= link_to 'List', deals_path, class:"btn btn-outline-dark" %>
</div>
